body {
    background-image: url('https://wonderfulengineering.com/wp-content/uploads/2014/04/code-wallpaper-38.jpg');
    font-family: 'Open Sans';
}

section {
    margin: auto;
    max-width: 500px;
    margin-top: 100px;
    background-color: lightblue;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px black;
}

.lista {
    background-color: aliceblue;
    margin: 15px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px 5px black;
}

.lista > h2 {
    margin-left: 10px;
}